<div class="doc">
  <div class="header">
    <button [disabled]="!dataSets.length" (click)="open(overviewContent)" class="btn-primary">
      Overview Details
    </button>
    <button [disabled]="!dataSets.length" (click)="exportWorkbook()" class="btn-primary">
      Export Workbook
    </button>
    

  </div>
  <div class="main">
    <div class="leftBar">
      <div class="importDatasets">
        <h3>
          Imported datasets
        </h3>
        <ul>
          <li *ngFor="let data of dataSets; let i = index" [class.selected]="selectedIndex === i" (click)="selectedIndex = i;">{{data.dataSetName}}</li>
        </ul>
        <input type="file" accept=".xlsx" (change)="uploadListener($event)"/>
      </div>
      
      <div class="importMainFile">
        <h3>
          Load Main File
        </h3>
        <input type="file" accept=".xlsx" (change)="mainFileListener($event)" />
      </div>
      
    </div>
    <div class="center">
      <h3>Data view</h3>
      <table *ngIf="dataSets[selectedIndex]" class="table table-striped bordered">
        <thead>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSets[selectedIndex].jsonSheet">
          <th scope="row">{{data}}</th>
        </tr>
        </tbody>
      </table>
      <span *ngIf="!dataSets[selectedIndex]" class="noSelectClass">
        Please select a dataset.
      </span>
    </div>
    <div class="rightBar">
      <div class="indexCols">
        <h3>Index Columns</h3>
        <ngconf-taginput *ngIf="dataSets[selectedIndex]" (onTag)="tagInput($event)" [customStyles]="customStyles" [typeaheads]="typeaheads" [allowed]="allowedTags" (onFail)="onFail($event)">
        </ngconf-taginput>
        <span *ngIf="!dataSets[selectedIndex]" class="noSelectClass">
          Please select a dataset.
        </span>
      </div>
      

      <div class="indexRows">
          <h3>Index Rows</h3>
          <div *ngIf="dataSets[selectedIndex]" class="rangeInput">
            <input [(ngModel)]="dataSets[selectedIndex].startImportRow" type="number"/>
            <p><b> -- </b></p>
            <input [(ngModel)]="dataSets[selectedIndex].endImportRow" type="number"/>
          </div>
          <span *ngIf="!dataSets[selectedIndex]" class="noSelectClass">
            Please select a dataset.
          </span>
      </div>
      <div *ngIf="dataSets[selectedIndex]" class="selectSheet">
        <h3>Select Sheet</h3>
        <select [(ngModel)]="dataSets[selectedIndex].selectedSheet">
          <option *ngFor="let opt of dataSets[selectedIndex].sheetOptions" [value]="opt">{{opt}}</option>
        </select>
      </div>
  
      <button [disabled]="dataSets[selectedIndex]?.selectedSheet === '' || !dataSets[selectedIndex]?.importCols.length" (click)="open(content)" class="primary">Add to exports</button>
      
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Export Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form> -->
      <div *ngIf="dataSets[selectedIndex]" class="form-group">
        <div>
          <label for="dateOfBirth">File Export Name </label>
          <input [disabled]="true" [value]="exportWorkbookName" id="dateOfBirth" class="form-control" type="text">
        </div>
        <div>
          <label for="dateOfBirth">Sheet Export Location </label>
          <input id="dateOfBirth" [(ngModel)]="dataSets[selectedIndex].sheetExportLocation" class="form-control" type="text">
        </div>
        <div>
          <label>Export with Headers</label>
          <input type="checkbox" [(ngModel)]="dataSets[selectedIndex].isExportWithHeaders">
        </div>
        <div *ngIf="dataSets[selectedIndex].isExportWithHeaders">
          <div *ngFor="let col of getColHeaderKeys()">
            <label>Column <b>{{col}}</b>'s Header Value</label> 
            <input type="text" [(ngModel)]="dataSets[selectedIndex].colHeaders[col]">
          </div>
        </div>
        <!-- <div>
          <label for="dateOfBirth">Column Start </label>
          <input id="dateOfBirth" [(ngModel)]="dataSets[selectedIndex].colStart"  class="form-control" type="text">
        </div>
        <div>
          <label for="dateOfBirth">Row Start </label>
          <input id="dateOfBirth" [(ngModel)]="dataSets[selectedIndex].rowStart"  class="form-control" type="number">
        </div> -->
      </div>
      <span *ngIf="!dataSets[selectedIndex]" class="noSelectClass">
        Please select a dataset.
      </span>
      <!-- <br>
      <div>
        <div class="colsList">
          <label>Add/Edit Columns</label>
          
        </div>
        
        <ul class="horizontol">
          <li>Col1</li>
          <li>Col2</li>
        </ul>
        <span>+</span>
      </div> -->
    <!-- </form> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="trimColAndRows(dataSets[selectedIndex].excelJsWorkbook, dataSets[selectedIndex].selectedSheet, selectedIndex)">Add to Sheet</button>
  </div>
</ng-template>

<ng-template #overviewContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Overview</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="dataSets[selectedIndex]" class="modal-body">
    <form>
      <label>File export location</label>
      <p>{{exportWorkbookName}}</p>
      <h5>Data Sets</h5>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Imported Dataset</th>
          <th scope="col">Selected Sheet</th>
          <th scope="col">Columns Selected</th>
          <th scope="col">Rows Selected</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSets">
          <th scope="row">{{data.dataSetName}}</th>
          <td>{{data.selectedSheet}}</td>
          <td>{{data.importCols}}</td>
          <td>{{data.startImportRow}} - {{data.endImportRow}}</td>
        </tr>
        </tbody>
      </table>
      <h5>Sheet Export Locations</h5>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Imported Dataset</th>
          <th scope="col">Selected Location</th>
          <th scope="col">Columns Start</th>
          <th scope="col">Rows Start</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSets">
          <th scope="row">{{data.dataSetName}}</th>
          <td>{{data.sheetExportLocation}}</td>
          <td>{{data.colStart}}</td>
          <td>{{data.rowStart}}</td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <span *ngIf="!dataSets[selectedIndex]" class="noSelectClass">
    Please select a dataset.
  </span>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Export Dataset</button>
  </div>
</ng-template>