<div class="main">
  <div class="leftBar">
    <div>
      <h3>
        Imported datasets
      </h3>
      <ul>
        <li>Data1</li>
        <li>Data1</li>
        <li>Data1</li>
      </ul>
      <input type="file" accept=".xlsx"/>
    </div>
    
    <div>
      <h3>
        Load Main File
      </h3>
      <input type="file" accept=".xlsx"/>
    </div>
    
  </div>
  <div class="center">
    <h3>Data view</h3>
  </div>
  <div class="rightBar">
    <h3>Index Columns</h3>
    <div>
      <h3>Index Rows</h3>
      <input type="range"/>
    </div>
    <h3>Select Sheet</h3>
  </div>
</div>