.doc {
    display: flex;
    flex-direction: column;
}
.header {
    flex: 10%;
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-top: 10px;
    margin-right: 10px;
}
.main {
    flex: 80%;
    display: flex;
    gap: 30px;
    height: 100%;
    .leftBar {
        flex: 20%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: space-around;
        align-items: center;
        .importDatasets {
            // justify-content: center;
            h3 {
                text-align: center;
            }
            ul {
                display: flex;
                list-style-type: none;
                flex-direction: column;
                align-items: left;
                margin-left: 0px;
                gap: 10px;
               
                li {
                    border: solid 1px black;
                    border-radius: 10px;
                    text-align: center;
                    padding: 5px 5px;
                    cursor: pointer;
                    .selected {
                        background: lightblue !important;
                    }
                }

                li:hover {
                    background: gray;
                    color: white;
                }
            }
            input {
                margin-left: 20px;
            }
            
        }
    }
    .center {
        flex: 60%;
        text-align: center;
    }
    .rightBar {
        flex: 20%;
        flex-direction: column;
        display: flex;
        gap: 20px;
        justify-content: space-evenly;
        .indexRows {
            .rangeInput {
                display: flex;
                align-items: center;
                p {
                    margin: 0px 10px;
                    font-style: bold;
                }
                input {
                    width: 50px;
                    height: 25px;
                }
            }
        }
        .selectSheet {
            select {
                width: 80%;
                border: black 2px solid;
            }
        }
        button {
            border-radius: 20px;
            margin-right: 20px;
            background: lightblue;
            padding: 10px 10px;
            cursor: pointer;
        }
        button:hover { 
            background: gray;
            color: white;
        }
    }
}



